.cards-grid-servicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}

/* Cards */
.card-servicio {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;  /* ancho fijo */
 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.card-servicio img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-servicio:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-body {
  padding: 18px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 0 0 8px;
  text-align: center;
}

.card-text {
  font-size: 15px;
  color: #333;
  line-height: 1.4;
  margin-bottom: 16px;
}

/* Centrar la última fila de 2 cards en desktop */
.cards-grid-servicio > :nth-last-child(2),
.cards-grid-servicio > :last-child {
 
  margin-left: 12rem;
}


/* Responsive */

/* Tablet: 2 cards por fila */
@media (max-width: 992px) {
  .cards-grid-servicio {
    grid-template-columns: repeat(2, 1fr);

  }

  .cards-grid-servicio > :nth-last-child(2),
.cards-grid-servicio > :last-child {
 
  margin-left: 0;

}

  /* En tablet centramos todo automáticamente */
  .cards-grid-servicio > :nth-last-child(2),
  .cards-grid-servicio > :last-child {
    justify-self: auto; /* ya no aplica */
  }
}

/* Móvil: 1 card por fila */
@media (max-width: 768px) {
  .cards-grid-servicio {
    grid-template-columns: 1fr;
    justify-items: center; /* centra la card */
  }

  .card-servicio {
    width: 90%;
    max-width: 300px;
  }

  
}
