/* Contenedor de cada fila */.card-contenido {
  display: flex;
  padding-block: 2rem;
  width: 100%;
  overflow: hidden; /* importante para que las imágenes salgan desde fuera */
}

/* Alterna lado de la imagen y contenido */
.card-contenido.flex-row-reverse {
  flex-direction: row-reverse;
}

/* Imagen animada */
.card-image img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.8s ease-out;
}

/* Imagen fila normal (izquierda) → entra desde lateral izquierdo */
.card-contenido:not(.flex-row-reverse) .card-image img {
  transform: translateX(20px); /* ahora sí, desde fuera pero cercano */
}

/* Imagen fila invertida (derecha) → entra desde lateral derecho */
.card-contenido.flex-row-reverse .card-image img {
  transform: translateX(-20px);
}

/* Imagen visible */
.card-image img.show {
  opacity: 1;
  transform: translateX(0);
}

/* Contenido fijo */
.card-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info h3 {
  font-size: 25px;
  text-align: start;
  margin-bottom: 1rem;
}

.card-info .button-asesoria {
  padding: 0.5rem 0.8rem;
  background: hsl(150, 82%, 7%);
  color: var(--color-text-primary);
  font-size: var(--font-size-xs, 14px);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {

  .section-advisory{
 padding: 0;      /* quitar padding */
    margin: 0;  
  }
  .card-contenido,
  .card-contenido.flex-row-reverse {
    flex-direction: column;
    padding: 0;      /* quitar padding */
    margin: 0;       /* quitar margin */
  }

  .card-image,
  .card-info {
    width: 100%;         /* ocupar todo el ancho */
    height: auto;        /* altura automática para mantener proporción */
    margin: 0;           /* quitar margin */
    padding: 0;          /* quitar padding */
  }

  .card-image img {
    width: 500px;        
    height: auto;      
 

  }
}
