.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;

  max-width: 1150px;
}

.card-contenido {
  position: relative;
  background: #fff;
  border-radius: var(--box-border-radius);
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.card-contenido.show {
  opacity: 1;
  transform: translateY(0);
}
.card-contenido:hover {
  transform: translateY(-2px) scale(1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-contenido img {
  width: 100%;
  height: 200px;
    object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}



.card-contenido:hover img {
  transform: scale(1.05); 
  filter: brightness(0.8); 
}

.card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h3 {
  margin-top: 1rem;
 font-size: var(--card-title-font-size);
    font-weight: 600;
  text-align: center;
}
.card-button {
  padding: 0.4rem 0.5rem;
  background: hsl(150, 82%, 7%);
  color: var(--color-text-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  border: var(--none);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: auto;
}
.card-button:hover {
background-color: var(--color-primary-hover);
}

.card-list {
  text-align: left;
  margin-bottom: 20px;
  padding-block: 1rem;
}

.card-list li {
  font-size: var(--font-size-sm);
  line-height: 1.5;
  color: #333;
  padding: 0.2rem;
}

@media (max-width: 1170px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
