.section-advisory {
  background-color: var(--color-background-tertiary);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.card-contenido {
  position: relative;
  background: white;
  border-radius: var(--box-border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-contenido:hover {
  transform: translateY(-2px) scale(1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-contenido img {
  height: 200px;
}

.card-button {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 1%;
  border-bottom-left-radius: var(--none);
  z-index: 10;
  color: var(--color-text-primary);
  background-color: var(--color-text-cards);
  font-size: 12px;
  cursor: pointer;
  border: transparent;
  padding: 0.2rem 0.5rem;
}
.card-button:hover {
  color: var(  --color-text-tertiary);
}

.card-list {
  text-align: left;
   padding: 2rem;
}

.card-list li {
  font-size: var( --font-size-sm);
  line-height: 1.5;
  color: black;
 
}


@media (max-width: 1170px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
