.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 20px;

  .card-contenido {
    position: relative;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .card-contenido img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-button {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 1%;

    border-bottom-left-radius: none; /* distancia desde la derecha de la card */
    z-index: 10;
    color: #fff;
    background-color: #8f8e8e8c;
    font-size: 12px;
    cursor: pointer;
border: transparent;
    padding: 0.2rem 0.5rem;
  }

  .card-list {
    text-align: left;

    margin-bottom: 20px;
   
  }

  .card-list li {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    padding: .2rem;
  }
}

@media (max-width: 1170px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }


}
