.section-servicios-descripcion {
  font-size: 15px;
  padding: 4rem 2rem;
}

span {
  color: #b89047;
  font-size: 30px;
}

.lista-servicios {
  border-left: 3px double #b89047;
}

li {
  padding-top: 0.5rem;
}

h2 {
  font-size: 18px;
}

h1 {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

@media (max-width: 768px) {
  .section-servicios-descripcion {
    padding: 2rem 2rem;
    text-align: center;
  }

  .section-servicios-descripcion h1 {
    font-size: 28px;

    span {
      font-size: 28px;
    }
  }

  .lista-servicios {
    text-align: left;
    margin-top: 2rem;
  }

  h1,
  span {
    font-size: 30px;
    text-decoration: none;
  }

  h2 {
    font-size: 25px;
  }
}
