.section-page {
  background-color: var(--color-background-primary);
}
.page-service-description p {
  font-size: 15px;
  padding: 4rem 2rem;
  font-weight: 400;
}

.page-service {
  .services-list {
    border-left: 3px double #b89047;
    font-size: 15px;

    h3 {
      font-size: 20px;
    }

    li {
      padding-top: 0.5rem;
      font-weight: 400;
    }
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-weight: 400;
  }
}

.span-service {
  color: var(--color-text-tertiary);
}

.col-services {
  font-weight: 600;
  color: var(--color-text-primary);
  position: relative;
  overflow: hidden;
}

.consult {
  color: var(--color-text-tertiary);
  font-weight: var(--font-weight-bold);
}

.col-services::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;

  background-size: cover;
}

.services-list  {
  animation-delay: 0.9s;
}

.services-list li {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeSlideIn 0.5s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .services-description-section {
    padding: 2rem 2rem;

    margin: 0;
  }

  .services-description-section h1 {
    font-size: 28px;

    span {
      font-size: 28px;
    }
  }

  .services-list {
    text-align: left;
    margin-top: 2rem;
    font-size: 15px;
  }

  h1,
  span {
    font-size: 30px;
    text-decoration: var(--none);
  }
}

.page-service {
  width: 100%;
}
