.card-map {
  .icons {
    color: #c5a059;
    font-size: 20px;
  }

  span {
    font-size: 12px;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .contact-map {
    width: 70%;
    height: 50%;
    margin-left: 3rem;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 1rem;
  }

  .contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
