.card-map {
  .icons {
    color: #c5a059;
    font-size: 20px;
  }

  span {
    font-size: 12px;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .contact-map {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 1rem;
  }

  .contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (max-width: 768px) {
    .contact-map {
      max-width: 100%;
      aspect-ratio: 4 / 3;
    }
  }
}
