/* Fuente Montserrat */
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

nav {
  /* background-color: #eaeff1; */

  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #06211c;
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100vw;

  img {
    height: 50px;
    width: 120px;
  }
}

.navbar-container {
  margin-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 2rem;
}

.navbar-logo {
  font-weight: 600;
  font-size: 1.2rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 300;
  transition: color 0.2s;
  color: white;
}

.btn-contacto {
  background-color: #c5a059;
  border: 1px solid transparent;
  color: white;
  padding: 0.5rem 1rem;
  border-color: transparent;
  border-radius: 5px;
  text-decoration: none;
}

.nav-link,
.btn-contacto {
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover,
.btn-contacto:hover {
  transform: translateY(-2px);
}

.nav-link.active,
.btn-contacto.active {
  font-weight: 400;
  text-decoration: underline;
}
