.cards-grid-identity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  
}

.card-identity {
  padding: 2rem 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-background-primary);
  border: 1px solid #b8914737;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(50px) scale(0.95);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  .icon-wrapper-identity {
    color: var(--color-text-tertiary);
    font-size: var(--font-size-md);
    margin-bottom: 1rem;
  }

  .text-wrapper h3 {
    font-size: var(--card-title-font-size);
    font-weight: 600;
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .text-wrapper p {
    font-size: var(--font-size-sm);
    font-weight: 300;
    color: var(--color-text-primary);
    text-align: center;
  }
}

.card-identity.show {
  animation: slideUpFade 0.9s forwards;
}

.card-identity:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .cards-grid-identity {
    grid-template-columns: repeat(2, 1fr);
  }
  .icon-wrapper-identity {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .cards-grid-identity {
    grid-template-columns: 1fr;

   
  }
}
