/* Keyframes para animación fade + slide-up */
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Grid de cards */
.cards-grid-identidad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

/* Card base */
.card-identidad {
  padding: 2rem 1.5rem;
  border: 0.2px solid #c59f591e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:transparent;
  border-radius: 10px;
  opacity: 0; /* inicio invisible */
  transform: translateY(50px);
  animation: slideUpFade 0.8s forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Stagger: aparecer de una en una */
.card-identidad:nth-child(1) { animation-delay: 0.2s; }
.card-identidad:nth-child(2) { animation-delay: 0.4s; }
.card-identidad:nth-child(3) { animation-delay: 0.6s; }
.card-identidad:nth-child(4) { animation-delay: 0.8s; }
.card-identidad:nth-child(5) { animation-delay: 1s; }
.card-identidad:nth-child(6) { animation-delay: 1.2s; }


.card-identidad {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card-identidad.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Hover */
.card-identidad:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Icono */
.icon-container {
  color: #c5a059;
  font-size: 30px;
  margin-bottom: 1rem;
}

/* Texto */
.text-container h3 {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat Variable', sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;
}

.text-container p {
  font-size: 15px;
  font-weight: 100;
  color: white;
  text-align: center;
}

/* Responsivo mediano */
@media (max-width: 992px) {
  .cards-grid-identidad {
    grid-template-columns: repeat(2, 1fr);
  }
  .icon-container {
    font-size: 2.2rem;
  }
}

/* Móvil */
@media (max-width: 768px) {
  .cards-grid-identidad {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 1rem;
  }
  .card-identidad {
    flex-direction: row;
    padding: 15px;
    align-items: center;
  }
  .icon-container {
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .text-container h3 {
    font-size: 1rem;
    text-align: left;
  }
  .text-container p {
    font-size: 0.9rem;
    text-align: left;
  }
}
