@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

.cards-grid-identidad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .card-identidad {
    padding: 2rem 1.5rem;
    border: 0.2px solid #c59f591e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition:
      transform 0.2s ease-in-out,
      box-shadow 0.2s;
  }

  .card-body {
    padding: 18px;
  }

  .card-title {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 8px;
    text-align: center;
  }

  .card-text {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
  }
  .icon-container {
    color: #c5a059;
    font-size: 30px;
  }

  .card-identidad:nth-child(4),
  .card-identidad:nth-child(5),
  .card-identidad:nth-child(6) {
    border-top: none;
  }

  .card-identidad:nth-child(2),
  .card-identidad:nth-child(5) {
    border-left: none;
    border-right: none;
  }
}

.text-container {
  color: white;

  h3 {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat Variable', sans-serif;
  }
  p {
    font-size: 12px;
    font-weight: 100;
  }
}
