/* VARIABLES GLOBALES */
:root {
  --color-background-primary: #06211c;
  --color-background-secondary: #b89047;
  --color-background-tertiary: #f8f7f7;

  --color-text-primary: white;
  --color-text-secondary: black;
  --color-text-tertiary: #b89047;
  --color-primary-hover: rgb(75, 73, 73);
  --color-text-cards: #484848;

  --font-family-primary: 'Montserrat Variable', sans-serif;
  --font-family-heading: 'EB Garamond Variable';

  --font-weight-small: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --card-title-font-size: 16px;
  --font-size-xs: 12px;
  --font-size-sm: 15px;
  --font-size-md: 30px;
  --font-size-lg: 40px;

  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --box-border-radius: 6px;
  --none: none;
  --link-text-decoration-hover: underline;

  --button-padding-y: 0.5rem;
  --button-padding-x: 1rem;
}

/* LETRA H1 PORTADA */
@font-face {
  font-family: 'EB Garamond Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/eb-garamond:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
html {
  scroll-padding-top: 80px;
  overflow-x: hidden;
}
h2,
.navbar-links,
.btn-contacto {
  font-family: var(--font-family-primary);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}
.content {
  min-height: fit-content;
  overflow-x: hidden;
}

/* BOTONES*/
.button-ppl {
  padding: 0.4rem 0.5rem;
  background: hsl(150, 82%, 7%);
  color: var(--color-text-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  border: var(--none);
  border-radius: 5px;
  cursor: pointer;
}

.button-ppl:hover {
  background-color: var(--color-primary-hover);
}

.button-ppl.animate {
  transform: scale(1.2);
}
.btn:hover {
  opacity: 0.9;
}

/* TÍTULO COMÚN DE TODAS LAS SECCIONES */
section {
  h2 {
    font-size: 25px;
    text-align: center;

    span {
      color: var(--color-text-tertiary);
      font-size: 15px;
      font-weight: var(--font-weight-small);
    }
  }

  .linea-title {
    width: 100px;
    height: 2px;
    background-color: var(--color-background-secondary);
    margin: 10px auto 0;
  }
}
