h2,
.navbar-links,
.btn-contacto {
  font-family: 'Montserrat Variable', sans-serif;
}

.content {
  min-height: fit-content;
}

.button-ppl {
  padding: 8px 22px;
  background: #0c3c1f;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.9;
}
