/* LETRA H1 PORTADA */
@font-face {
  font-family: 'EB Garamond Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/eb-garamond:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
html {
  scroll-padding-top: 80px;
  overflow-x: hidden;
}
h2,
.navbar-links,
.btn-contacto {
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  min-height: fit-content;
}

.button-ppl {
  padding: .4rem .5rem;
  background: #06211c;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-ppl:hover{
  background-color: rgb(75, 73, 73);
}

/* Clase que activa el aumento */
.button-ppl.animate {
  transform: scale(1.2); /* Aumenta un 20% */
}
.btn:hover {
  opacity: 0.9;
}




/* TÍTULO C
OMÚN DE TODAS LAS SECCIONES */
section {
  h2 {
    font-size: 25px;
    text-align: center;

    span {
      color: #b89047;
      font-size: 15px;
      font-weight: 400;
    }
  }

  .linea-title {
    width: 100px;
    height: 2px;
    background-color: #b89047;
    margin: 10px auto 0;
  }
}
