.section-portada {
  background-image:
    linear-gradient(rgba(29, 29, 33, 0.623)), url('/images/portada/portada.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 90vh;

  .hero-heading-block {
    width: max-content;
    max-width: 90%;
    margin: 0 auto;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
  }

  .hero-cta-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
  }

  span {
    color: #b89047;
    font-size: 35px;

   /* ANIMACIÓN MAQUINA DE ESCRIBIR */
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: escribir 2s steps(30, end) forwards;
  }

  h1 {
    font-size: 40px;
    font-family: 'EB Garamond Variable';
    text-decoration: none;
    text-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.3),
      4px 4px 8px rgba(0, 0, 0, 0.2),
      0 0 10px rgba(45, 45, 42, 0.5);
  }

  p {
    font-weight: 300;
    margin: 0;
    color: #fff;
  }

  .button-consulta,
  .button-servicios {
    background-color: hsl(150, 82%, 7%);
    padding: 0.5rem 1rem;
    border-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat Variable', sans-serif;
  }

  .button-consulta {
    background-color: #c5a059;
    text-decoration: none;
  }
  .button-servicios {
    background-color: rgba(255, 255, 255, 0.228);
    text-decoration: none;
  }

  .button-consulta:hover,
  .button-servicios:hover {
    text-decoration: underline;
    transform: translateY(-2px);
  }

  /* RESPONSIVE PORTADA*/
  @media (max-width: 768px) {
    padding-top: 3rem;
    height: 90vh;

    h1 {
      font-size: 30px;
    }

    .hero-heading-block p {
      max-width: 35ch;
    }
    .button-consulta,
    .button-servicios {
      width: 100%;
      text-align: center;
    }
  }
}
/* ANIMACIÓN TÍTULO PORTADA MÁQUINA DE ESCRIBIR */
@keyframes escribir {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}




.section-servicios {
  background-color: #fdfcf9;
}

.section-identidad {
  background-color: #06211c;

  h2 {
    color: white;
  }
}

.section-contact {
  background-color: #f8fafc;
}
