.card-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  transform: rotateY(0deg);
  animation: giro 2s ease, opacity 2s ease;

}
.card-pasos > span {
  margin-bottom: 15px;
}

.card-pasos h3 {
  font-size: 15px;
}

.card-pasos span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b89047;
  color: white;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 16px;
    transition: all 0.3s ease; /* importante para hover */
}



.card-pasos:hover span {
   transform: scale(1.05);
  background-color: #a67c3a; /* cambia el color del número */
}

 

  /* MOVIL */
  .card-pasos {
    flex: 0 0 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
  }


  .card-pasos-container {
  display: grid;
  gap: 1rem;
}
  



@media (max-width: 768px) {

  .card-pasos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    justify-items: center;
  }

  /* centra las dos últimas */
  .card-pasos:nth-child(4) {
    grid-column: 2;
  }

  .card-pasos:nth-child(5) {
    grid-column: 3;
  }
}

/* ============================= */
/* DESKTOP */
/* ============================= */

@media (min-width: 769px) {

  .card-pasos-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }
}


@keyframes giro {
  from {
    transform: rotateY(0deg);
    opacity: 0;
  }
  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.card-pasos:nth-child(1) {
  animation-delay: 3s;
}
.card-pasos:nth-child(2) {
  animation-delay: 3.2s;
}
.card-pasos:nth-child(3) {
  animation-delay: 3.4s;
}
.card-pasos:nth-child(4) {
  animation-delay: 3.6s;
}
.card-pasos:nth-child(5) {
  animation-delay: 3.8s;
}
.card-pasos:nth-child(6) {
  animation-delay: 4s;
}
