.card-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;

  h3 {
    font-size: 13px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b89047;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 15px;
  }

 
  @media (max-width: 768px) {
    width: 80%;
    margin-bottom: 1rem;



    span {
      width: 45px;
      height: 45px;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
}

/* contenedor de pasos */
.pasos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
