.card-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;

  transform: rotateY(0deg) translateY(30px); /* estado inicial */
  opacity: 0; /* invisible */
}

.card-pasos.activo {
  animation: giro 0.8s ease forwards;
}

.card-pasos h3 {
  font-size: 13px;
}

.card-pasos span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b89047;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 15px;
}

/* MOVIL */
@media (max-width: 768px) {
  .card-pasos-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  .card-pasos:nth-child(4) {
    grid-column: 2;
  }

  .card-pasos:nth-child(5) {
    grid-column: 3;
  }
}

/* Animación */
@keyframes giro {
  from {
    transform: rotateY(0deg) translateY(30px);
    opacity: 0;
  }
  to {
    transform: rotateY(360deg) translateY(0);
    opacity: 1;
  }
}
