.card-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;


  h3 {
    font-size: 13px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b89047;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 15px;
  }

.card-pasos-container {
  width: 100%;
}

/* MOVIL */
.card-pasos {
  flex: 0 0 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
}

/* TABLET Y DESKTOP */
@media (min-width: 768px) {
  .card-pasos {
    flex: 0 0 auto;
    max-width: none;
  }
}
}