.card-pasos {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;

  h3 {
    font-size: 13px;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b89047;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .flecha {
    color: #000000;
    display: flex;
    align-items: center;
  }
}
