
.icons {
  color: #c5a059;
  font-size: 20px;
}

.text-muted{
  font-size: 13px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.a-redes a {
  color: #c5a059;
  font-size: 20px;
}



