.card-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
}

.icons {
  color: #c5a059;
  font-size: 20px;
}

span {
  font-size: 12px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.a-redes a {
  color: #c5a059;
  font-size: 20px;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .card-contact {
    grid-template-columns: 1fr auto; /* 2 columnas: contactos + redes */
    grid-template-rows: auto auto; /* dos filas */
    grid-template-areas:
      'tel redes'
      'email redes';
    gap: 15px;
  }

  .contact-item:nth-child(1) {
    grid-area: tel;
    padding-left: 1rem;
  }
  .contact-item:nth-child(2) {
    grid-area: email;
    padding-left: 1rem;
  }
  .contact-item.redes {
    grid-area: redes;
    margin: auto;
    padding-right: 1rem;
  }
}
