footer {
  background-color: var(--color-background-primary);
  color: var( --color-background-tertiary);

  .footer-logo {
    display: block;
    margin-bottom: 0.5rem;
  }

  img {
    width: 100%;
    max-width: 250px;
    height: auto;
      &:hover{
       transform: translateY(-3px);
    }
  }

  p {
    font-size: var(--font-size-sm);
    margin-bottom: 0.6rem;
  }

  h5 {
    font-size: var( --font-size-sm);
    font-family: var( --font-family-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-text-tertiary);
    text-underline-offset: 10px;
    margin-bottom: 2rem;
  }

  ul {
    list-style: var(--none);
    padding-left: 0;
    margin: 0;
  }

  a,
  .direction {
    text-decoration: var(--none);
    font-size: var(--font-size-sm);
    color: var(--color-text-primary);
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease, opacity 0.2s ease;

    &:hover {
      color: var( --color-text-tertiary);
      
    }
    
  }

  .social-link {
    border-bottom: none;
    color: var( --color-text-tertiary);
    font-size: 25px;

    &:hover{
       transform: translateY(-3px);
    }
  }

  span {
    color: var( --color-text-tertiary);
    font-size: var(--font-size-sm);
  }

  .footer-heading-block {
    width: auto;
  }

  .hr {
    margin-top: 2rem;
    border-top: 0.5px solid rgba(255, 255, 255, 0.043);
    opacity: 1;
  }

  .phone-numbers {
    display: flex;
    flex-direction: column;
  }

.private{
  
     &:hover {
      color: var( --color-text-tertiary);
      
    
  }
}

  @media (max-width: 768px) {
    .footer-main-row {
      padding-left: 1rem;
      text-align: left;

      .col {
        align-items: flex-start;
        text-align: left;
      }
    }

    h5 {
      text-decoration: var(--none);
      border-bottom: 3px solid  var( --color-text-tertiary);
      padding-bottom: 6px;
      width: 100%;
      display: block;
    }
  }


    
}
