
@font-face {
font-family: 'Montserrat Variable';
font-style: normal;
font-display: swap;
font-weight: 100 900;
src: url([https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2](https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2))
format('woff2-variations');
unicode-range:
U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
U+2212, U+2215, U+FEFF, U+FFFD;
}



footer {
background-color: #06211c;
color: white;
}



.footer-logo {
display: block;
margin-bottom: 0.5rem;
}

footer img {
width: 250px;
max-width: 100%;
height: auto;
}



footer p {
font-size: 15px;
margin-bottom: 0.6rem;
}

footer h5 {
font-size: 15px;
font-family: 'Montserrat Variable', sans-serif;
text-decoration: underline;
text-decoration-color: #c5a059;
text-underline-offset: 10px;
margin-bottom: 2rem;
}



footer ul {
list-style: none;
padding-left: 0;
margin: 0;
}



footer a,
footer .direction {
text-decoration: none;
font-size: 15px;
color: white;
border-bottom: 1px solid transparent;
transition: border-color 0.2s ease, opacity 0.2s ease;
}

footer a:hover {
border-bottom: 1px solid #c5a059;
opacity: 0.8;
}


.a-redes {
border-bottom: none;
color: #c5a059;
font-size: 25px;
}


footer span {
color: #c5a059;
font-size: 15px;
}


.footer-heading-block {
width: auto;
}


.hr {
margin-top: 2rem;
border-top: 1px solid #333;
opacity: 1;
}



.derechos p {
font-size: 12px;
}



@media (max-width: 768px) {

.footer-main-row {
padding-left: 1rem;
text-align: left;
}

.footer-main-row .col {
align-items: flex-start;
text-align: left;
}


footer h5 {
text-decoration: none;
border-bottom: 3px solid #c5a059;
padding-bottom: 6px;
width: 100%;
display: block;
}
}
