.form-wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .p-politica{
    color: black;
    padding: 0;
  background-color: transparent;

}
}


.form-header {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.icons {
  color: #c5a059;
  font-size: 20px;
  margin-top: 2px;
}

.form-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-text span {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}

.form-text a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 1.2;
}

/* =========================
   FORMULARIO
   ========================= */

.form-container {
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  width: 100%;
  padding: 2rem;

  p {
    font-weight: 500;
    background-color: #06211c;
    border-radius: 10px;
    padding: 0.5rem 0.2rem;
    color: white;
    font-size: 14px;
    text-align: center;
    .consulta {
      font-weight: 700;
      color: #c5a059;
    }
  }
  .fw-bold {
    font-size: 15px;
    font-weight: 300;
  }
}


.form-container .form-container input[type='text'],
.form-container input[type='tel'],
.form-container input[type='email'] {
  font-size: 12px;
  width: 100%;
}

/* Estilo base de inputs */
.form-container input[type='text'],
.form-container input[type='tel'],
.form-container input[type='email'],
.form-container textarea,
.form-container select {
  font-size: 12px;
  width: 100%;
}

/* Checkbox: apuntar al label */
.form-container .form-check-label {
  width: 100%;
}

.span-politica {
  font-size: 15px;
}

.form-container textarea {
  font-size: 13px;
  padding: 6px 8px;
  width: 100%;
}

.form-container select {
  font-size: 13px;
  padding: 4px 8px;
  width: 100%;
}

/* =========================
   RESPONSIVE
   ========================= */

@media (max-width: 768px) {
  .form-wrapper {
    max-width: 100%;
  }
}
