.form-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .privacy-text {
    color: var(--color-text-secondary);
    padding: 0;
    background-color: transparent;
    text-align: start;
    margin-left: 0.5rem;
    font-weight: var(--font-weight-medium);
  }
}

.form-header {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.icons {
  color: var(--color-text-tertiary);
  font-size: 20px;
  margin-top: 2px;
}

.form-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text-secondary);

  span {
    font-size: 13px;
    font-weight: var(--font-weight-medium);
    line-height: 1.2;

    .text-muted {
      color: var(--color-text-primary);
    }
  }

  a {
    text-decoration: var(--none);
    color: var(--color-text-primary);
    font-size: var(--font-size-sm);
    line-height: 1.2;
  }
}

.form-container {
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  font-size: 15px;
  width: 100%;
  padding: 2rem;
  background-color: white;

  p {
    width: 100%;
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-bold);
    text-align: center;
    display: inline-block;
    transition: transform 0.2s ease-out;

    .free-consult {
      font-weight: var(--font-weight-bold);
      color: var(--color-text-tertiary);
      font-size: var(--font-size-sm);
    }
  }

  .fw-bold {
    font-size: var(--font-size-sm);
    font-weight: 300;
  }
}

.free-consult-div.scroll-move {
  transform: translateY(-10px);
}

.form-container input[type='text'],
.form-container input[type='tel'],
.form-container input[type='email'] {
  font-size: 12px;
  width: 100%;
}

.form-container input[type='text'],
.form-container input[type='tel'],
.form-container input[type='email'],
.form-container textarea,
.form-container select {
  font-size: var(--font-size-sm);
  width: 100%;
}

.form-container .form-check-label {
  width: 100%;
}

.privacy-span {
  font-size: var(--font-size-sm);
}

.form-container textarea {
  font-size: var(--font-size-sm);
  padding: 6px 8px;
  width: 100%;
}

.form-container select {
  font-size: var(--font-size-sm);
  padding: 4px 8px;
  width: 100%;
}

@media (max-width: 768px) {
  .form-wrapper {
 
    transform: translateX(-10px);
  }
}
