.google-review-card {
  width: 100%;
  min-height: 250px;
  background-color: white;
  border-radius: var( --box-border-radius);
  border: 1px solid #e0e0e0;
  padding: 16px;
  box-shadow: var(--box-shadow);
  position: relative;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    max-width: 450px;
    margin: 0 auto;
  }

  .review-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .reviewer-profile {
      display: flex;
      gap: 12px;

      .profile-image-container {
        border-radius: 50%;
        overflow: hidden;

        .profile-image {
          object-fit: cover;
        }
      }

      .reviewer-info {
        display: flex;
        flex-direction: column;

        .reviewer-name {
          margin-top: .5rem;
          font-weight: var(--font-weight-medium);
          font-size: var( --font-size-sm);
        }

        .rating-stars {
          display: flex;
          gap: 2px;

          .star {
            color: var(--color-text-primary);
            font-size: 16px;

            &.filled {
              color: #fbc02d;
            }
          }
        }
      }
    }

    .google-badge {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  .review-content {
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;

    .review-text {
      font-size: 15px;
      color: var(--color-text-cards);
    }
  }
}

.reviews-carousel-container {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .carousel-slide {
    padding: 0 12px;
    box-sizing: border-box;
  }

  .slider-buttons {
    text-align: center;
    margin-top: 1rem;

    .btn-prev,
    .btn-next {
      border: var(--none);
      background-color: transparent;
      color:  var(--color-text-tertiary);
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color:var(--color-text-tertiary);
  transition: all 0.3s;

  &.custom-prev {
    left: -20px;
  }

  &.custom-next {
    right: -20px;
    background-color: transparent;
    color: var(--color-text-tertiary);
  }

  &::before {
    font-family: 'slick';
    font-size: 25px;
    color: var(--color-text-tertiary);
  }
}

.reviews-wrapper {
  width: 100%;
  display: block;

  .button-ppl-wrapper {
    padding: 0;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .button-ppl {
      text-decoration: var(--none);
    }
  }
}

a {
  text-decoration: var(--none);
}
