.card-form{
   .icons {
    color: #c5a059;
    font-size: 20px;
  }

  span {
    font-size: 12px;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
}

.form-container {
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px !important;
  width: 400px;
  height: 96%;
  padding: 2rem;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[as='textarea'] {
    font-size: 12px;
    width: 250px;
  }
  textarea {
    font-size: 12px;
    padding: 6px 8px;
    height: 30px;
    width: 300px;
  }

  span {
    font-size: 15px;
  }

  .fw-bold{
    font-size: 15px;
    font-weight: 300;

  }

  select {
    font-size: 12px;
    padding: 4px 8px;
    width: 250px;
  }
  .btn-submit {
    background-color: #c5a059;
    border: transparent;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .form-mt {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .input-mb {
    padding-top: 1rem;
  }
}
